<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact_information_type.name %>
</p>

<%= link_to 'Edit', edit_contact_information_type_path(@contact_information_type) %> |
<%= link_to 'Back', contact_information_types_path %>
