<div class="form-group">
      <label for="day"><%= f.label :day %></label>
      <%= f.input :day, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="period"><%= f.label :period %></label>
      <%= f.input :period, label: false, input_html: { class: "form-control" } %>
    </div>