<div class="form-inputs">

    

    <div class="form-group">
      <label for="contact_information_type"><%= f.label :contact_information_type %></label>
      <%= f.association :contact_information_type, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="value"><%= f.label :value %></label>
      <%= f.input :value, label: false, input_html: { class: "form-control" } %>
    </div>

  </div>