<div class="nested-fields row">
  <div class="col-xs-10">
    <%= f.input :value, label: false, input_html: { class: "form-inline" }, placeholder: "Téléphone ou email" %>
  </div>
  <div class="col-xs-2">
    <%= link_to_remove_association "X", f %>
  </div>
</div>