<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @practitioner_profession.name %>
</p>

<%= link_to 'Edit', edit_practitioner_profession_path(@practitioner_profession) %> |
<%= link_to 'Back', practitioner_professions_path %>
