<div class="form-group col-xs-12">  
  <div id='interactions' class="custom-panel">
    <label for="interactions">Ajouter un appel</label>
    <%= f.simple_fields_for :interactions, new_interaction do |interaction| %>
      <%= render 'interactions/interaction_fields', f: interaction %>
    <% end %> 
  </div>
  <div id='therapies' class="custom-panel">
    <label for="therapies">Créer une prise en charge</label>
    <%= f.simple_fields_for :therapies, new_therapy do |therapy| %>
      <%= render 'therapies/therapy_fields', f: therapy %>
    <% end %> 
  </div>
</div>