/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 *= require select2
 *= require select2-bootstrap
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.vertical-navbar{
  width: 80px;
  float: left;
  background-color: grey;
  min-height: 100vh;
}

.vertical-navbar-container{
  width: calc(100% - 80px);
  float: left;
}

.select2{
  width: 100% !important;
}

.alert-container{
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 999999;
  padding: 10px;
}


/* The close button */
.closebtn {
    margin-right: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.menu-item{
  width: 80px;
  height: 80px;
  color: white;
  background-color: black;
  border: 1px solid white;
  padding: 2px;
  text-align: center;
  font-size: 80%;

  a{
    color: white !important;
  }
}

.menu-item-bottom{
  bottom: 0px;
}

.menu-item:hover{
  background-color: blue;
}


label{
  margin-bottom: 0px !important;
  font-size: 90%;
}

.form-group {
  width: 100%;
}

.form-control {
  padding: 2px !important;
  width: 100%;
}