.search-form{
  background-color: blue;
  background-color: #F5ECCE;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 5px;
  border: 1px solid black;
}

.container {
  background-color: #f8f8f8;
}