.container-fluid {
  
}

.star {
  visibility:hidden;
  font-size:30px;
  cursor:pointer;
}
.star:before {
  content: "\2606";
  visibility:visible;
}
.star:checked:before {
  content: "\2605";
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.form-group {
  margin-bottom: 0px !important;
}

.checkbox {
  min-height: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.fixed-bottom {
  position: fixed;
  bottom: 10px;
  right: 0;
}

.fixed-top {
  position: fixed;
  top: 60px;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.margin-bottom-for-fixed-position{
  margin-bottom: 20px;
}

.boolean{
  top: -10px;

}

.custom-panel{
  background-color: #ffffcc;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.custom-panel label{
  color: #424242;
} 

.navbar {
  z-index: 9998 !important; 
} 

.datepicker {
  z-index: 9999 !important;
}