.search-form{
  background-color: blue;
  background-color: #F5ECCE;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 5px;
  border: 1px solid black;
}

.container {
  background-color: #f8f8f8;
}

.star {
  visibility:hidden;
  font-size:30px;
  cursor:pointer;
}
.star:before {
  content: "\2606";
  visibility:visible;
}
.star:checked:before {
  content: "\2605";
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.form-group {
  margin-bottom: 0px !important;
}

.checkbox {
  min-height: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}