.simple-calendar {
  font-size: 80%;
  width: 100%;
  th{
    padding: 0px !important;
  }
  td{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
  }
  .table-head{
    text-align: center;
  }
  .hour-row{
    height: 20px;
  }
  .quarter-hour-row{
    height: 5px;
    font-size: 60%;
    text-align: right;
  }
  .quarter-hour-row-selected{
    background-color: #088A29;
  }
  .half-hour-row{
    height: 10px;
    font-size: 60%;
    text-align: right;
  }
  .half-hour-row-selected{
    background-color: #088A29;
  }
  .event{
    height: 38px;
    padding-top : 1px;
    padding-bottom : 1px;
    background-color: #ffffcc;
    border-radius: 1px;
    padding: 1px;
    width:100%;
    border: 1px solid black;
  }

  .day {
    border-left: 1px solid rgb(221,221,221) !important;
    border-right: 1px solid rgb(221,221,221) !important;
    font-family: "Trebuchet MS", "Times", serif !important;
    /*background-image:image-url("calendar_cell.gif") !important;*/
    background-repeat:repeat !important;
    background-position:top right !important;
    border-width:1px !important;
    border-color:#d7d7d7 !important;
    border-style:solid !important;
  }

  .wday {
    width: 13%;
  }

  .wday-0 {
    width: 13%;
    background-color: grey;
  }
  .wday-1 {
    width: 13%;
    background-color: white;
  }
  .wday-2 {
    width: 13%;
    background-color: white;
  }
  .wday-3 {
    width: 13%;
    background-color: white;
  }
  .wday-4 {
    width: 13%;
    background-color: white;
  }
  .wday-5 {
    width: 13%;
    background-color: white;
  }
  .wday-6 {
    width: 12%;
    background-color: grey;
  }

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}