.simple-calendar {
  th{
    padding: 0px !important;
  }
  td{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 1px !important;
    padding-right: 1px !important;


  }
  .hour{
  }
  .hour-row{
    height: 40px;
  }
  .event{
    height: 20px;
    font-size: 80%;
    background-color: #ffffcc;
    border-radius: 1px;
    padding: 1px;
    width:100%;
  }

  .day {
    border-left: 1px solid rgb(221,221,221) !important;
    border-right: 1px solid rgb(221,221,221) !important;
    font-family: "Trebuchet MS", "Times", serif !important;
    font-size: 0.8em !important;
    background-image:image-url("calendar_cell.gif") !important;
    background-repeat:repeat !important;
    background-position:top right !important;
    border-width:1px !important;
    border-color:#d7d7d7 !important;
    border-style:solid !important;
  }

  .wday-0 {
    width: 4%;
  }
  .wday-1 {
    width: 17%;
  }
  .wday-2 {
    width: 17%;
  }
  .wday-3 {
    width: 17%;
  }
  .wday-4 {
    width: 17%;
  }
  .wday-5 {
    width: 17%;
  }
  .wday-6 {
    width: 4%;
  }

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}