.waiting-list-form-patient-informations{
  background-color: #F5ECCE;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}

.waiting-list-row{
  background-color: #FEDE93;
  border-radius: 10px;
  padding: 2px;
  margin-bottom: 5px;
}

.waiting-list-row-action{
  padding: 0px !important;
}