h1{
  margin-top: 0px !important;
}

.waiting-list-header{
  height: 120px;
  padding: 10px;
}

.waiting-list-container{
  height: calc(100vh - 120px);
  overflow-y: scroll;
}

.waiting-list-form-patient-informations{
  background-color: #F5ECCE;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}

.waiting-list-row{
  border-radius: 10px;
  padding: 2px;
  border: 1px solid #FE9A2E;
  min-height: 300px !important;
}

.waiting-list-row-container{
  padding: 5px !important;
  font-size: 80%;
}

.waiting-list-row-priority{
  background-color: #FFC94A;
}

.waiting-list-row-not-priority{
  background-color: #FEDE93;
}

.waiting-list-row-action{
  position:absolute !important;
  bottom:0px !important;
  right:0px !important;
  padding: 5px;
}

.add-button{
  top: 10px;
  right: 10px;
  text-align: right;
}

.form-waiting-list-container{
  height: calc(100vh - 60px);
  overflow-y: scroll;
}

.form-waiting-list-footer{
  height: 60px;
}

.search-form{
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.inscription_number{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 200%;
}

#waiting_list_search{
  float: left;
  border-radius: 5px;
  padding: 5px;
  background-color: #FEDE93;
}


  /* Tooltip container */
.label-tooltip {
  cursor: pointer;
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.label-tooltip .label-tooltiptext {
  visibility: hidden;
  width: auto;
  overflow-wrap: break-word;
  background-color: white;
    max-width: 400px;
    padding: 5px 2px 0 2px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    &:before {
        top: -12px;
        right: auto;
        left:15px;
    }
}
/* Show the tooltip text when you mouse over the tooltip container */
.label-tooltip:hover .label-tooltiptext {
  visibility: visible;
}
.label-tooltip-bottom {
  left: 0%;
  margin-left: -60px;
}

.waiting-list-availability-link{
  text-align: center;
  cursor: pointer;
  background-color: #F3E2A9;
  width: 100%;
  padding: 2px;
}