<h3>Bienvenue sur Ortho-planner !</h3>
Ce programme à été développé pour vous, n'hésitez pas à me faire toutes vos remarques<br>
<ul>
  <li>Sur les informations présentes (besoin de telle information, pas besoin de telle information...)</li>
  <li>Sur les actions (action xxx inutiles, absence de l'action xxx, ...)</li>
  <li>Sur l'aspect (boutton mal placé, couleurs, ...)</li>
</ul>

<%= link_to '<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Accèder à la liste d\'attente'.html_safe, waiting_lists_path, class: "btn btn-lg btn-primary btn-warning" %>